<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flying.live">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.MyService1"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.MyService2"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.MyService3"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".StandardActivity"
            android:launchMode="standard">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="com.flying.action.standard" />
            </intent-filter>
        </activity>

        <activity android:name=".SingleTopActivity"
            android:launchMode="singleTop"
            >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="com.flying.action.singleTop" />
            </intent-filter>
        </activity>
        <activity android:name=".SingleTaskActivity"
            android:launchMode="singleTask"
            >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="com.flying.action.singleTask" />
            </intent-filter>
        </activity>
        <activity android:name=".SingleIntanceActivity"
            android:launchMode="singleInstance"
            >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="com.flying.action.singleInstance" />
            </intent-filter>
        </activity>
    </application>

</manifest>